<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		{{> molecules-block-hero }}


		<hr>

		<div class="row">
			<div class="medium-4 column">
				{{> molecules-block-thumb-headline}}
			</div>
			<div class="medium-8 column">
				{{> molecules-tabs}}
			</div>
		</div>


		<hr>

		<div class="row">
			<div class="small-12 column">
				{{> molecules-block-grid}}
			</div>
		</div>

	</div><!--End role=main-->
	{{> organisms-footer }}
</div>