<div class="row collapse">
	<div class="small-9 columns">
	  <input type="text" placeholder="Hex Value">
	</div>
	<div class="small-3 columns">
	  <a href="#" class="button postfix phn">Go</a>
	</div>
</div>
