<!-- Begin .header -->
<header class="header" role="banner">
	{{> molecules-top-bar }}
	<div class="row">
	<div class="column medium-8">{{> atoms-logo }}</div>
	<div class="column medium-4">{{> molecules-search }}</div>
	</div> 
</header>
<!-- End .header -->