<p><a href="#" class="button">Button</a></p>
<p><a href="#" class="button secondary">Alternate Button</a></p>
<p><a href="#" class="button disabled">Disabled Button</a></p>
<p><a href="#" class="button alert">Color Button</a></p>
