<footer class="row"> 
<div class="large-12 columns">
	<hr>
	<div class="row">
		<div class="large-6 columns">
			<p>
				&copy; Copyright Daisy 2014. Made in Watertown, MA.
			</p>
		</div>
		<div class="large-6 columns">
			<ul class="inline-list right">
				<li> <a href="#">Link 1</a> </li>
				<li> <a href="#">Link 2</a> </li>
				<li> <a href="#">Link 3</a> </li>
				<li> <a href="#">Link 4</a> </li>
			</ul>
		</div>
	</div>
</div>
</footer>