<div class="demo">
	<!--Grid 4up-->
	<div class="row">
		<div class="medium-3 column">1/4</div>
		<div class="medium-3 column">1/4</div>
		<div class="medium-3 column">1/4</div>
		<div class="medium-3 column end">1/4</div>
	</div>
</div>