
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}

	<script src="/js/jquery.min.js"></script>
	<script src="/js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
	</body>
</html>