<div class="row">
	<div class="large-12 columns">
		<p><img src="http://placehold.it/1000x400&amp;text=[banner img]"></p>
	</div>
</div>
<div class="row">
	<div class="large-8 columns">
	<h4>This is a content section.</h4>
	<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
	<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
	<p><a href="#" class="secondary small button">Next Page →</a></p>
	</div>
	<div class="large-4 columns">
		<ul class="small-block-grid-3">
			<li><a href="#"><img src="http://placehold.it/120x120"></a></li>
			<li><a href="#"><img src="http://placehold.it/120x120"></a></li>
			<li><a href="#"><img src="http://placehold.it/120x120"></a></li>
			<li><a href="#"><img src="http://placehold.it/120x120"></a></li>
			<li><a href="#"><img src="http://placehold.it/120x120"></a></li>
			<li><a href="#"><img src="http://placehold.it/120x120"></a></li>
		</ul>
	</div>
</div>