<div class="row">
 
	<div class="small-12 columns">
		<img src="http://placehold.it/500x500&amp;text=Logo">
		<div class="hide-for-small panel">
			<h3>Header</h3>
			<h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.</h5>
			</div>
			<a href="#">
			<div class="panel callout radius">
			<h6>99&nbsp; items in your cart</h6></a>
		</div>
	</div> 
</div>